@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@font-face{
    font-family: "android";
    src: url("../fontes/idroid.otf") format("opentype");
    font-weight: normal;
}
:root{
    --cor0:#c5ebd6;
    --cor2:#83e1ad;
    --cir3:#3ddc84;
    --cor4:#2fa866;
    --cor5:#1a5c37;
    --cor6:#863d1e;

    --font-padrao:arial,verdana,helvetica,sans-serif;
    --font-destaque: 'Patrick Hand',cursive;
    --font-android:"android",cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color:rgba(196, 196, 149, 0.788);
    font-family: var(--font-padrao);
    
    
}
a.links::after{
    content:'\00a0\0a00\1F517';
}


header{
    background-image: linear-gradient(to right, var(--cor4),var(--cor5));
    text-align: center;
    padding-top: 40px;
    min-height: 40px;
    
    
}
header>p{
    color: white;
    text-align: center;
    margin:auto;
    height: 50px;
    font-size: 20px;
    text-shadow: 2px 2px 0px rgba(0,0,0, 0.267);

}


header > h1{
        color:white ;
        font-family: var(--font-android);
        text-align: center;
        margin-bottom: 30px;
        padding-top: 20px;
        font-size: 40px;
        text-shadow: 2px 2px 0px rgba(0,0,0, 0.267);
        
        
    }
    nav {
        background-color: var(--cor5);
       padding: 10px;
       box-shadow: 0px 0px 10px rgb(0,0,0,418);
       border-radius: 5px,10px;
    }
nav>a{
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    color: white;
    font-family: var(--font-padrao);
}
nav>a:hover{
    background-color: var(--cir3);
    color: var(--cor5);
    transition-duration: 0.5s;
    
}

main{
    margin: auto;
    min-width: 320px;
    max-width: 1000px;
   margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgb(0,0,0,418);
    border-radius: 0px 0px 7px 7px ;

    
    

}
    main h1{
        color:var(--cor5) ;
        font-family: var(--font-android);
        margin:10px -19px;
        padding-top: 10px;
        font-size: 30px;
        box-shadow:0px 0px 10px rgba(0, 0, 0, 0.39) ;
        background-image: linear-gradient(to right, var(--cir3), transparent);
    }
main p{
    text-align: justify;
    text-indent: 30px;
    margin: 15px ,0px;
    font-size: 1em;
    line-height: 2em;
    
} 
    
   picture>img{
    margin: auto;
    display: block;
    border-radius: 5px;
   }

main strong{
    color: var(--cir3);
    
}


    main h2{
        font-family: var(--font-android);
        font-size: 25px;
        color: var(--cor5);
        margin:10px;
        padding-top: 10px;
        background-image: linear-gradient(to right, var(--cir3), transparent);
        margin:10px -19px;
    }
    main a {
        color: var(--cor4);
        text-decoration: none;
    }
       main img.pequena{
        max-width: 350px;
        display: block;
        margin: auto;
    }
   
    
    main{
        background-color: white;
    }

aside{
    background-image: linear-gradient(to right, var(--cor4),var(--cor5));
    padding: 10px;
    border-radius: 10px;
    font-family: var(--font-padrao);
    color: white;
    margin:10px -10px;
}
aside>ul{
    list-style-position: inside;
    columns: 2;
    list-style-type: "\2714\00a0\00a0";
    font-weight: bold
    text-aline
    
}
aside h3{
    font-size:25px;
    color: black;
    
}
aside >p{
    text-align: justify;
    text-indent: 30px;
    margin: 15px ,0px;
    font-size: 1em;
    line-height: 2em;
    color: black;
}
aside>strong{
    color: rgba(12, 250, 12, 0.884);
}
aside .link1{
    color: rgba(0, 248, 0, 0.993);
}
aside>p>strong{
    color: rgba(12, 250, 12, 0.884);
}
a.link1::after{
    content: '\0a00\0a00\1F517';
}
article.p1{
    font-weight: bold;
}
div.video{
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 58%;
    position: relative;
}
div.video>iframe{
    position: absolute;
    top: 5%;
    left: 25px;
    width: 90%;
    height: 90%;
}



    footer{
        background-color: var(--cor5);
        font-family: var(--font-padrao);
        padding-top: 20px;
        color: white;
        text-align: center;
        background-image: linear-gradient(to right, var(--cir3),var(--cor5));

        
    }